<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput>
      </mat-form-field>
      <br>


      <mat-form-field appearance="fill">
        <mat-label>Profile Image</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
  </div>
  